<!doctype html>
<html>
  <head>
    <title>Primordial Discussions</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Communication is the seat of the Soul</h1>
    <h1>Human thought collective:</h1>
    <% for(i=0; i<posts.length; i++){ %>
      <ul>
        <p><b><%= posts[i].header %></b>, by<a href="/profile/<%= posts[i].username %>"><%= posts[i].username %>,</a>in<a href="/topic/<%= posts[i].title %>"><%= posts[i].title %></a></p>
        <li><%= posts[i].body %></li>
        </br>
      </ul>
    <% } %>
  </body>
</html>