<!doctype html>
<html>
  <head>
    <title>Primordial Discussions</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>User <%= user %></h1>
    <h2>Here are their topics:</h2>
    <ul>
        <% for(i=0; i<topics.length; i++){ %>
            <li><a href="/topic/<%= topics[i].title %>"><%= topics[i].title %></a></li>
        <% } %>
    </ul>
    <h2>Here are their posts:</h2>
    <ul>
      <% for(i=0; i<posts.length; i++){ %>
          <p><b><%= posts[i].header %></b>, in <a href="/topic/<%= topics[i].title %>"><%= topics[i].title %></a></p>
          <ul>
              <li><%= posts[i].body %></li>
          </ul>
      <% } %>
    </ul>
  </body>
</html>